* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

/*circle*/
.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #017143;
  clip-path: circle(37.5rem at right 50rem);
}

/*header*/
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  position: relative;
  max-width: 80px;
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  list-style: none;
}

header ul li a {
  display: inline-block;
  color: #333;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  padding: 0.8rem;
  border-radius: 0.8rem;
}

header ul li a:hover {
  background-color: #017143;
  color: #fff;
}

/*content*/
.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .textBox {
  position: relative;
  max-width: 600px;
}

.content .textBox h1 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.4em;
  color: #333;
}

.content .textBox h1 span {
  font-weight: 900;
  color: #017143;
}

.content .textBox p {
  color: #333;
  line-height: 2.2em;
  margin-bottom: 2%;
}

.content .textBox button {
  background-color: #017143;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  padding: 2% 2%;
  border: 0;
  outline: 0;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.content .textBox button:hover {
  color: #333;
  background: #3cb371;
}

.content .imgBox {
  width: 90%;
  display: flex;
  justify-content: end;
  padding: 2%;
  margin-top: 2%;
}

.content .imgBox img {
  max-width: 70%;
}

/*thumb*/
.thumb {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
}

.thumb li {
  list-style-type: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}

.thumb li:hover {
  transform: translateY(-12px);
}

.thumb li img {
  max-width: 4rem;
}

/*socialMedia*/
.socialMedia {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-60%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.socialMedia li {
  list-style-type: none;
  padding: 0.5rem;
}

.socialMedia li a {
  display: inline-block;
  transform: scale(0.6);
  filter: invert(1);
}

@media (max-width: 991px) {
  .circle {
    clip-path: circle(37.5rem at center bottom);
    margin-top: 10rem;
  }
  header {
    padding: 20px;
  }
  header .logo {
    max-width: 60px;
  }
  header ul {
    display: none;
  }
  .toggle {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(/assets/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 11;
  }
  .toggle.active {
    position: fixed;
    right: 20px;
    background: url(/assets/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
  }
  header ul.navigation.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    z-index: 10;
  }
  header ul li a {
    font-size: 1.6rem;
    font-weight: 400;
  }
  section {
    padding: 20px;
  }
  .content {
    flex-direction: column;
    margin-top: 100px;
  }
  .content .textBox {
    max-width: 100%;
  }
  .content .textBox h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
  }
  .content .textBox p {
    margin-right: 50px;
  }
  .content .imgBox {
    max-width: 100%;
    justify-content: center;
  }
  .content .imgBox img {
    max-width: 250px;
    margin-bottom: 7rem;
  }
  .thumb li img {
    max-width: 40px;
  }
  .socialMedia {
    background: #017143;
    right: 0;
    width: 60px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}
